body{
    font-family: Arial, sans-serif;
    background:#f8f6f4;
    margin:0;
}

/* PANEL GRID */

.panel{
    width:60vw;
    height:60vh;
    margin:auto;
    margin-top:10vh;

    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap:20px;
}

/* TARJETAS */

.card{
    border:none;
    border-radius:18px;
    cursor:pointer;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    font-size:30px;
    font-weight:bold;

    background:#800020; /* burdeo */
    color:#FFD700; /* dorado */

    box-shadow:0 6px 12px rgba(0,0,0,0.2);

    transition:0.2s;
}

.card span{
    font-size:18px;
    margin-top:10px;
    color:white;
}

.card:hover{
    transform:scale(1.05);
    background:#660018;
}

/* CONTENEDOR NORMAL */

.menu-container{
    width:50%;
    margin:auto;
    margin-top:5vh;
    text-align:center;
}

/* TABLAS */

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#800020;
    color:#FFD700;
    padding:10px;
}

td{
    padding:8px;
    border-bottom:1px solid #ddd;
}

/* BOTONES */

button{
    background:#800020;
    color:#FFD700;
    border:none;
    padding:10px 15px;
    border-radius:10px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#660018;
}

input, select{
    padding:8px;
    margin:5px;
}
