
body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #007BFF;
    color: white;
    border: none;
}

header {
    background: #007BFF;
    color: white;
    padding: 15px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
}
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: #007BFF;
    color: white;
}

.contenedor {
    text-align: center;
}
.panel-alumno{
    width: 60vw;
    height: 60vh;
    margin: auto;
    margin-top: 10vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.card{
    border:none;
    border-radius:20px;
    font-size:28px;
    cursor:pointer;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    background:#f5f7fa;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);

    transition:0.2s;
}

.card span{
    font-size:18px;
    margin-top:10px;
}

.card:hover{
    transform:scale(1.05);
    background:#e9eef5;
}
